{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ event.title }}</h1>
            <p>{{ event.description }}</p>
            <p>{{ event.date }}</p>
            <p>{{ event.location }}</p>
            <p>{{ event.price }}</p>
            <p>{{ event.capacity }}</p>
            <p><img src="{{ event.image.url }}" alt="{{ event.title }}" class="img-fluid" /></p>

            <!-- Register Button Form -->
            <form method="post" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
