{% extends "master.html" %}

{% block title %}
Bewerk reservering
{% endblock %}

{% block content %}
<div class="bg-[#1BB1E6] relative flex flex-col h-screen ">
    <section class="bg-[#234193] p-8 w-full">
        <h1 class="text-5xl font-bold text-white">RESERVEREN</h1>
        <div class="flex justify-center items-center">
            <ul class="flex flex-wrap text-4xl font-medium text-center text-gray-500 dark:text-gray-400">
                <li class="me-2">
                    <a href="{% url 'reservation-add' '1' %}"
                       class="uppercase inline-block px-4 py-3 {% if location == 1 %}text-white active" {% endif %}
                       aria-current="page">Board Room</a>
                </li>
                <li class="me-2">
                    <a href="{% url 'reservation-add' '2' %}"
                       class="uppercase inline-block px-4 py-3 {% if location == 2 %}text-white active" {% endif %}
                       aria-current="page">Bastion</a>
                </li>
                <li class="me-2">
                    <a href="{% url 'reservation-add' '3' %}"
                       class="uppercase inline-block px-4 py-3 {% if location == 3 %}text-white active" {% endif %}
                       aria-current="page">Kraaij</a>
                </li>
            </ul>
        </div>

        <form id="reservationform" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="bg-white p-4 rounded-3xl border-4 border-black shadow-lg w-4/5 mx-auto text-left">
                <div class="flex flex-wrap gap-4 justify-center">
                    {% for field in form %}
                    {% if field.name != 'reserved_item' %}
                        <div class="flex flex-col items-center text-center min-w-[200px] space-y-2">
                            <label for="{{ field.id_for_label }}" class="text-3xl font-bold">
                                {{ field.label }}:
                            </label>
                            <div class="text-3xl font-bold w-full">{{ field }}</div>
                            {% if field.help_text %}
                            <p class="text-sm text-gray-500 font-medium">{{ field.help_text }}</p>
                            {% endif %}
                            {% for error in field.errors %}
                            <p class="text-red-600 text-sm font-semibold">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-center w-3/5 mx-auto mt-4">
                {% for choice_value, choice_label in form.reserved_item.field.choices %}
                    <div class="w-full"> 
                        <input type="radio"
                            value="{{ choice_value }}"
                            name="{{ form.reserved_item.name }}"
                            id="reserved_item_{{ forloop.counter }}"
                            class="peer hidden" required>
                        
                        <label for="reserved_item_{{ forloop.counter }}"
                            class="text-3xl font-medium text-gray-900 flex items-center border-4 border-black bg-white rounded-3xl w-full p-4 mb-4 peer-checked:bg-gray-400">
                            {{ choice_label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </form>
    </section>

    <section id="submit reservation" class="bg-[#1BB1E6] flex flex-col p-8 pb-30">
        <h1 class="text-5xl font-bold"> RESERVERING INDIENEN </h1>
        <form method="post" class="w-4/5 mx-auto">
            {% csrf_token %}
            <button type="submit" form="reservationform"
                    class="btn btn-primary p-2 border-2 rounded-3xl shadow-lg w-full bg-gray-200 hover:bg-gray-400 block text-center">
                <span class="font-bold text-3xl">Reservering Indienen</span>
            </button>
        </form>
        <a href="{% url 'reservations' %}"
           class="btn btn-primary p-2 font-bold border-2 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-gray-200 hover:bg-gray-400 block text-center">
            <span class="font-bold text-3xl"> Anuleer </span>
        </a>
    </section>


    <div class="fixed bottom-0 w-full">
        {% include "menu.html" %}
    </div>
{% endblock %}
